#AuthType Basic
#AuthName "Please login"
#AuthUserFile "/Users/korol/Sites/trello.loc/.htpasswd"
#Require valid-user

AddDefaultCharset UTF-8


RewriteEngine on

RewriteCond %{REQUEST_URI} ^/sign
RewriteRule ^sign\/?(.*) /_result.signs.cache/$1





# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
RewriteRule . index.php
